_build/
public/
webgui_scenes/
.venv/
.jupyter_cache/
.jupyter-local/
.jupyter-live.log
jupyterlog.txt
notebooks/
chapters/*.ipynb
**/.ipynb_checkpoints/
**/__pycache__/
_static/tikz/*.aux
_static/tikz/*.log
_static/tikz/*.out
_static/tikz/*.pdf
